@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

#title {
	width: 500px;
	margin: 50px auto;
	text-align: center;
}

#title span {
	font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
	font-stretch: expanded;
}
